
<div class="page-head">
	<div class="container">
		<h3>Add New Article</h3>
	</div>
</div>

	<div class="contact">
		<div class="container">
			
			<div>
				<div class="contact-form2">
				<div style="margin-bottom: 2%">
						Title: <br>
						<input type="text" value="Title" ng-model="Title"  required=""> <br>
						ISSN: <br>
					<input type="text" value="ISSN"  ng-model="ISSN" required="">
				</div>
				<div style="margin-bottom: 2%">
						Price: <br>
						<input type="text" value="Price" ng-model="Price"  required=""> <br>
						
				</div>

				Abstract: <br>
					<textarea type="text" ng-model = "Abstract"  required=""></textarea>
					
				<div style="margin-bottom: 2%">
						Upload Cover Image: <br>
						<input type="file" value="Price" ng-model="Price"  required=""  onchange="angular.element(this).scope().filesChangedCover(this)"> <br>
						Upload Article File(PDF): <br> <br>
					<input type="file" value="Email"  ng-model="Title" required=""  onchange="angular.element(this).scope().filesChangedFile(this)">
				</div>
					<input type="submit" ng-click="Submit()" value="Submit" > 
					<h3>
						{{message}} 
					</h3>
				</div>
			</div>
		</div>
	</div>

