<div class="container-fluid">
  <div *ngIf="(!user);else other_content">
      <app-home-nav></app-home-nav>
  </div>
  <ng-template #other_content>
      <app-user-nav></app-user-nav>
  </ng-template> 
<div class="product-easy">
  <div class="container">     
    <div class="sap_tabs">
 
        <form class="col-md-6 offset-3">
          <fieldset>
            <legend>Create Article</legend> 
            <hr/>         
            <div class="form-group">
              <label for="exampleInputEmail1">Title</label>
              <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter Title Here">
            </div>
            <div class="form-group">
              <label for="exampleInputEmail1">ISSN</label>
              <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter ISSN Number">
            </div>         
            <div class="form-group">
              <label for="exampleInputEmail1">Price</label>
              <input type="text" class="form-control" [(ngModel)]="Price" value="{{Price}}" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="">
            </div>       
             <div class="form-group">
              <label for="exampleTextarea">Abstract</label>
              <textarea class="form-control" id="exampleTextarea" rows="3"></textarea>
            </div>
            <div class="form-group">
              <label for="exampleInputFile">Upload Cover</label>
              <input type="file" class="form-control-file" id="exampleInputFile" aria-describedby="fileHelp">
              <small id="fileHelp" class="form-text text-muted"></small>
            </div>  
            <div class="form-group">
              <label for="exampleInputFile">Upload Article File (PDF)</label>
              <input type="file" class="form-control-file" id="exampleInputFile" aria-describedby="fileHelp">
              <small id="fileHelp" class="form-text text-muted"></small>
            </div>       
             
            <button type="submit" class="btn btn-primary">Submit</button>
          </fieldset>
        </form>
      
  </div>
  </div>
</div>
