<div class="container-fluid">
  <app-home-nav></app-home-nav>
  <div class="product-easy">
    <div class="container">     
      <div class="sap_tabs" *ngIf="(articles) as listOfArticles">
        <div id="horizontalTab" style="display: block; width: 100%; margin: 0px;">
            <ul class="resp-tabs-list">                     
                <li class="resp-tab-item" aria-controls="tab_item-1" role="tab"><span>Top Paid</span></li>                  
            </ul>
            <div class="row">               
                <div class="col-md-3 product-men resp-tab-content resp-tab-content-active" *ngFor="let item of listOfArticles" aria-labelledby="tab_item-0" style="display:block"  >
                    <div class="" >
                        <div class="men-pro-item simpleCart_shelfItem">
                            <div class="men-thumb-item">
                                <img src="{{item.ImageUrl}}" alt="" class="pro-image-front">
                                <img src="{{item.ImageUrl}}" alt="" class="pro-image-back">
                                <div class="men-cart-pro">                                  
                                </div>                            
                            </div>
                            <div class="item-info-product ">
                                <h4><a href=""> {{item.Title}}</a></h4>
                                <div class="info-product-price">
                                    <span class="item_price">$ {{item.Price}}</span>
                                </div>
                                <a href="" class="item_add single-item hvr-outline-out button2">More</a>
                            </div>
                        </div>
                    </div>                   
                </div>               
            </div>
        </div>
    </div>
    </div>
  </div>
