<div ng-include="'components/common/nav.html'"></div>

<div class="product-easy">
    <div class="container">
       
        <div class="sap_tabs">
            <div class="row" style="padding:2%" ng-repeat="item in articles">
                <div class="col-sm-4 men-wear-left">

                    <img class="img-responsive"ng-src="{{item.ImageUrl}}" alt=" ">
                </div>
                <div class="col-sm-8 men-wear-right">
                    <h4>Exclusive Women's Collections</h4>
                    <p>

                        {{item.Abstract}}
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

