<div class="header">
  <div class="container">  
      <ul>
          <li><span class="fa fa-globe" aria-hidden="true"></span>Anywhere any time</li>
          <li><span class="fa fa-cloud-download" aria-hidden="true"></span>Secure Downloads</li>
          <li><span class="fa fa-envelope" aria-hidden="true"></span><a href="mailto:info@example.com">support@guliwe-publications.com</a></li>
      </ul>
  </div>
</div>
<div class="row">
    <div class="col-md-3 header-left">
       <a href=""><img src="assets/images/logo.png" width="size:10px"></a> 
    </div>
    <div class="col-md-6 header-middle">
        <form>
            <div class="search">
                <input type="search" value="Search Here" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Search';}" required="">
            </div>
            <div class="section_room">
                <select id="country" onchange="change_country(this.value)" class="frm-field required">
                    <option value="null">All categories</option>
                    <option value="null">Options Here</option>                   
                </select>
            </div>
            <div class="sear-sub">
                <button class="btn btn-secondary my-2 my-sm-0" style="background-color:#fda30e; border-color:#fda30e" type="submit"><span class="fa fa-search" style="font-size:30px; color:white"></span></button>
            </div>         
        </form>
        <div class="clearfix"></div>
    </div>
    <div class="col-md-3 header-right footer-bottom">
        <ul>
            <li>
                <a href=""><i class="fa fa-user" style="font-size:30px; color:#fda30e;"></i></a>

            </li>
            <li>Login to your account</li>         
        </ul>
    </div>
  <div class="clearfix"></div>
</div>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark"> 
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor03" aria-controls="navbarColor03" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarColor03">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#"><h4>Home</h4> <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#"><h4>Top Paid</h4></a>
      </li>       
    </ul> 
  </div>
</nav>
 