<div class="container-fluid">
    <app-home-nav></app-home-nav>
  <div class="panel" role="document">
      <div class="panel-default">
          <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          </div>
          <div class="modal-body modal-spa">
              <div class="login-grids">
                  <div class="login">
                      <div class="login-bottom">
                          <h3>Sign up for free</h3>
                          <form>
                              <div class="sign-up">
                                  <h4>Email :</h4>
                                  <input type="email" value="Type here" [(ngModel)]="Email"  [ngModelOptions]="{standalone: true}"  onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Enter Email';}" required="">
                              </div>
                              <div class="sign-up">
                                  <h4>Password :</h4>
                                  <input type="password" value="Password" [(ngModel)]="Password"  [ngModelOptions]="{standalone: true}"  onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Enter Password';}" required="">
                              </div>
                              <div class="sign-up">
                                  <h4>Re-type Password :</h4>
                                  <input type="password" value="Password" [(ngModel)]="ConfirmPassword"  [ngModelOptions]="{standalone: true}"  onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Confirm Password';}" required="">
                              </div>
                              <hr />
                              <div class="sign-up">
                                  <h4>First Name(s) :</h4>
                                  <input type="text" value="Type here" [(ngModel)]="FirstName"  [ngModelOptions]="{standalone: true}"  onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Enter First Name';}" required="">
                              </div>
                              <div class="sign-up">
                                  <h4>Surname :</h4>
                                  <input type="text" value="Type here" [(ngModel)]="Surname"  [ngModelOptions]="{standalone: true}"  onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Enter Surname';}" required="">
                              </div>
                              <div class="sign-up">
                                  <input type="submit" value="SIGN UP NOW" ng-click="SignUp()">
                              </div>
                              <h4 class="message">{{message}}</h4>
                          </form>
                      </div>
                      <div class="login-right">
                          <h3>Sign in with your account</h3>
                          <form>
                              <div class="sign-in">
                                  <h4>Email :</h4>
                                  <input type="text" [(ngModel)]="lEmail" [ngModelOptions]="{standalone: true}" value="Enter Email Address" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Type here';}" required="">
                              </div>
                              <div class="sign-in">
                                  <h4>Password :</h4>
                                  <input type="password" [(ngModel)]="lPassword" value="Enter Password"  [ngModelOptions]="{standalone: true}"  onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Password';}" required="">
                                  <!-- <a href="#">Forgot password?</a> -->
                              </div>
                              <div class="single-bottom">                           
                              </div>
                              <div class="sign-in">
                                  <input type="submit" value="SIGNIN" (click)="SignIn()">
                              </div>
                              <div class="errormessage">{{message}}</div>
                          </form>
                      </div>
                      <div class="clearfix"></div>
                  </div>
                  <p>By signing in you agree to our <a href="#">Terms and Conditions</a> and <a href="#">Privacy Policy</a></p>
              </div>
          </div>
      </div>
  </div>
</div>